# Brainstorm possible features to automate data analysis

In [243]:
import pandas as pd 
import numpy as np
import seaborn as sns
from pathlib import Path

## Load dataset - leave as is for now - feature later

In [244]:
data = pd.read_excel('~/Downloads/Alex example.xlsx', engine='openpyxl')
data.columns = data.iloc[0]
data.drop(0, axis=0, inplace=True)
data.reset_index(drop=True, inplace=True)
data = data.iloc[0:68,:]

## Create a class to automate data cleaning tasks
- Keep methods concise and functional to allow for a more functional pipe to be built from it
    - More user facing for now, make internal functions later
- MVP each feature, keep error checking and elegance for later

In [245]:
class data_clean():
    
    def __init__(self, df):
        self.df = df
        self.num_cols = len(df.columns)
        
        
    def duplicate_check(self):    
        ''' Checks for any duplicates within the dataset''' 
        print('[DUPLICATE TEST] Beginning to check for duplicates \n')
        dup = self.df.duplicated(keep=False)
        
        if dup.empty:
            print('No duplicates found')
        else:
            print(f'Found {dup.sum()} possible duplicates')
            display(self.df[dup])

            
    def type_check(self):
        ''' Check if all values in a column are the same type'''
        print('[TYPE TEST] Beginning to check column types \n')
        global tmp
        tmp_mask = []
        tmp_types = []
        for i in range(self.num_cols):
            col = self.df.iloc[:,i]
            all_types = col.map(type).unique()
            num_types = len(all_types)
            
            if num_types == 1:
                tmp_mask.append(True)
            else:
                tmp_mask.append(False)
                
            tmp_types.append(all_types)
            
        tmp_mask = np.array(tmp_mask)
        
        print(f'CLEARED: {tmp_mask.sum()} columns passed the test')
        print(self.df.columns[tmp_mask].values, tmp_types[tmp_mask])
        
        print(f'FAILED: {(~tmp_mask).sum()} columns failed the test')
        print(self.df.columns[~tmp_mask].values)
#             if num_types == 1:
#                 append()
#                 print(f'All values within {col.name} are {all_types}')
#             else:
#                 print(f'{num_types} data types found within {col.name}')

In [246]:
test = data_clean(data)
test.duplicate_check()
test.type_check()

[DUPLICATE TEST] Beginning to check for duplicates

Found 5 possible duplicates

0  Lactate   pH  pO2  Trop   Hgb   Cr Escalation (IABP, Impella, Ecmo)
0      NaN  NaN  NaN   NaN   NaN  NaN                                1
12     NaN  7.4  107  0.02  15.3  0.8                                1
19     NaN  NaN  NaN   NaN   NaN  NaN                                1
41     NaN  NaN  NaN   NaN   NaN  NaN                                1
50     NaN  7.4  107  0.02  15.3  0.8                                1

[TYPE TEST] Beginning to check column types

CLEARED: 1 columns passed the test

TypeError: only integer scalar arrays can be converted to a scalar index

In [222]:
tmp.sum()

1

In [192]:
(~tmp).sum()

6