# Brainstorm possible features to automate data analysis

In [59]:
import pandas as pd 
import numpy as np
import seaborn as sns
from pathlib import Path

## Load dataset

In [74]:
data = pd.read_excel('~/Downloads/Alex example.xlsx', engine='openpyxl')
data.columns = data.iloc[0]
data.drop(0, axis=0, inplace=True)
data.reset_index(drop=True, inplace=True)
data = data.iloc[0:68,:]

In [82]:
class data_clean():
    
    def __init__(self, df):
        self.df = df
        
        
    def duplicate_check(self):    
        ''' Checks for any duplicates within the dataset'''       
        dup = self.df.duplicated(keep=False)
        
        if dup.empty:
            print('No duplicates found')
        else:
            print(f'Found {dup.sum()} possible duplicates')
            display(self.df[dup])

            
    def string_check(self):

In [83]:
test = data_clean(data)
test.duplicate_check()

Found 5 possible duplicates

0  Lactate   pH  pO2  Trop   Hgb   Cr Escalation (IABP, Impella, Ecmo)
0      NaN  NaN  NaN   NaN   NaN  NaN                                1
12     NaN  7.4  107  0.02  15.3  0.8                                1
19     NaN  NaN  NaN   NaN   NaN  NaN                                1
41     NaN  NaN  NaN   NaN   NaN  NaN                                1
50     NaN  7.4  107  0.02  15.3  0.8                                1

In [9]:
def feature_summary(df):
        
    for i in range(len(test.columns)):
        col = test.iloc[:,i]
        print(f'[SUMMARY] {col.name}: ')
        print(f'Size before and after removing N/A: ')
        print(col.shape, col.dropna().shape, '\n')
        print('Mean: ', col.mean())



feature_summary(test)

[SUMMARY] Lactate:
Size before and after removing N/A:
(68,) (44,)

TypeError: unsupported operand type(s) for +: 'float' and 'str'